.head {
    width: 100%;
    margin: 0%;
    padding: 0%;
}


.container {
    margin: auto;
    width: 50%;
}

.im_t {
    margin: auto;
    height: 300px;
    background: url("logo.png") no-repeat left top,url("flash_img.png") no-repeat right top;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    cursor: pointer;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(240, 248, 255);
    height: 55px;
    background: #721f19;
    width: 20%;
}

li:hover {
   background: url("rings.png") no-repeat right bottom;
}

.parts {
    display: flex;
}

.p1{
    width: 40%;
}

.p2{
    width: 30%;
    padding-left: 1%;
}

.p3{
    padding-left: 1%;
    width: 30%;
}



.aa {
    color: #721f19;
}

.continue {
    cursor: pointer;
    font-weight: bold;
    color: #721f19;
}

.parts2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 18px;
}


.parts2>div>img{
    width: 100%;

}
footer {
    text-align: center;
    padding: 40px;
}